 ../0x14-bit_manipulation/a
        ../0x14-bit_manipulation/b
        ../0x14-bit_manipulation/c
        ../0x14-bit_manipulation/crackme3
        ../0x14-bit_manipulation/d
        ../0x14-bit_manipulation/e
        ../0x14-bit_manipulation/f
        ../0x14-bit_manipulation/h
        ../0x15-file_io/Incitatous
        ../0x15-file_io/Requiescat
        ../0x15-file_io/_putchar.c
        ../0x15-file_io/a
        ../0x15-file_io/b
        ../0x15-file_io/c
        ../0x15-file_io/cp
        ../0x15-file_io/elf_header
        ../0x15-file_io/hello
        ../0x15-file_io/incitatous
        ../0x17-doubly_linked_lists/0-main.c
        ../0x17-doubly_linked_lists/1-main.c
        ../0x17-doubly_linked_lists/2-main.c
        ../0x17-doubly_linked_lists/3-main.c
        ../0x17-doubly_linked_lists/4-main.c
        ../0x17-doubly_linked_lists/5-main.c
        ../0x17-doubly_linked_lists/6-main.c
        ../0x17-doubly_linked_lists/7-main.c
        ../0x17-doubly_linked_lists/8-main.c
        ../0x17-doubly_linked_lists/a
        ../0x17-doubly_linked_lists/b
        ../0x17-doubly_linked_lists/c
        ../0x17-doubly_linked_lists/d
        ../0x17-doubly_linked_lists/e
        ../0x17-doubly_linked_lists/h
        ../0x17-doubly_linked_lists/i
        ../0x17-doubly_linked_lists/j
        ../0x17-doubly_linked_lists/k
        ../0x18-dynamic_libraries/0x18.c/
