../0-isupper.c
../0-main.c
            ../0x05-pointers_arrays_strings/.100-atoi.c.swp
           ../0x0F-function_pointers/a
           ../README.md
            ../_putchar.c
            ../main.h
../0x05-pointers_arrays_strings/.101-keygen.c.swp
        ../0x05-pointers_arrays_strings/a.out
        ../0x08-recursion/6-is_prime_number.c
        ../0x08-recursion/6-main.c
        ../0x0A-argc_argv/.0-whatsmyname.c.swp
        ../0x0A-argc_argv/.4-add.c.swp
        ../0x0C-more_malloc_free/.1-string_nconcat.c.swp
        3-main.c

../0x12-singly_linked_lists/101-hello_holberton.o
        ../0x12-singly_linked_lists/hello
